.centered{
	position: absolute;
	width: 1000px;
	height: 900px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gamebox{
	text-align: center;
	float: left;
}

.gameProgress{
	border: 2px solid black;
	text-align: center;
	width: 300px;
	height: 595px;
	float: left;
	margin-left: 5px;
	margin-top: 50px;
}
.gameProgress ul{
	height: 528px;
	overflow-y: scroll;
}